#task9 nav {
  cursor: pointer;
  background-color: rgb(0, 51, 0);
}
#task9 nav h2 {
  margin-left: 10px;
  text-shadow: 3px 3px 6px white;
}
#task9 ul li {
  transition: all 0.6s ease-out;
}
#task9 ul li:hover {
  transform: scale(1.1);
  color: rgb(167, 248, 18);
}
#task10 {
  background-color: rgb(239, 224, 254);
}
.login-form {
  width: 400px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  flex-direction: column;
  gap: 25px;
  border-radius: 5px;
}
.login-form form {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
  gap: 30px;
}
.login-form form input {
  width: 100%;
  padding: 10px 3px;
  border-radius: 8px;
}
.login-form form button {
  width: 100%;
  background-color: rgb(68, 68, 251);
  color: white;
  font-weight: 700;
  border: none;
  outline: none;
}

#task11 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: auto;
}
#task11 .images-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  overflow-y: scroll;
}
#task11 .images-container img {
  width: 250px;
  height: 250px;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}
#task12,
.centered-card {
  display: flex;
  justify-content: center;
  align-items: center;
}
#task12 {
  background-color: orange;
}
.centered-card {
  width: 300px;
  height: 280px;
  gap: 30px;
  background-color: white;
  flex-direction: column;
  border: 3px solid grey;
  box-shadow: 10px 12px 18px grey;
  border-radius: 12px;
}
.centered-card button {
  background-color: rgb(241, 157, 1);
  color: white;
  font-weight: bolder;
  border: none;
}
#task13 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-direction: row;
}
.pricing-option ul li {
  color: white;
}
#pricing {
  height: auto;
  background: linear-gradient(
    to left bottom,
    rgb(1, 1, 54),
    rgb(1, 1, 100),
    rgb(80, 80, 251)
  );
}
#pricing button {
  margin-bottom: 10px;
}
#task14 a {
  transition: all 0.3s ease-out;
}
#task14 a:hover {
  transform: scaleX(1.1);
  color: white;
}
#task15 {
  flex-direction: row;
  gap: 30px;
}
#signup-form {
  height: auto;
  padding: 15px;
}
#task16 {
  text-align: center;
}
#contact {
  padding: 20px;
  height: auto;
  gap: 2px;
}
#contact form div,
.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

.map {
  width: 400px;
  height: 400px;

  border: 5px solid grey;
  border-radius: 12px;
}
.map img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.con-title {
  text-align: center;
  margin-bottom: 20px;
  color: orangered;
  font-size: 40px;
}
#info {
  height: auto;
  padding: 20px;
}
#info ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 30px;
  flex-direction: column;
}
#info ul li {
  font-size: 20px;
  font-weight: 700;
}
/* DAY-8-CSS*/
#task17 .pricing-option {
  margin: 30px 0;
}
#task19 {
  flex-direction: row;
  flex-wrap: wrap;
}
.title {
  text-align: center;
}
#task24 {
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#newsletter-banner {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background-color: rgb(247, 41, 41);
  padding: 2rem;
  box-shadow: 10px 10px 25px rgb(208, 91, 2);
  border-radius: 12px;
}

#newsletter-banner h2 {
  font-size: vmin(50px);
  color: rgb(34, 24, 1);
  text-shadow: 2px 2px 6px white;
}
#newsletter-banner p {
  font-size: 1.2em;
  color: gold;
}
#newsletter-banner form input {
  padding: 10px;
  border-radius: 8px;
  border: none;
}
#newsletter-banner form button {
  padding: 10px;
  background-color: gold;
  border: none;
  outline: none;
  border-radius: 8px;
  font-weight: bolder;
}
#task18 {
  gap: 25px;
}
#task18 #feature-highlight {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.feature-card {
  width: 300px;
  height: 200px;
  border: 2px solid orange;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 20px;
  box-shadow: 10px 10px 12px orange;
  border-radius: 12px;
}
.feature-card {
  width: 300px;
  height: 350px;
  padding: 10px;
  flex-direction: column;
}
#task22 nav {
  flex-wrap: wrap;
}
